<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/styles.css">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
  <title>OpenVPN 3 UI Client</title>
</head>
<body>
  <main class="container">
    <h1>
      <a class="clean contrast" href="/">OpenVPN 3 UI Client</a>
    </h1>
  
    <h3>Add Connections</h3>
  
    <form action="/" method="post">
      <label>
        <p>Username</p>
        <input type="text" name="username">
      </label>
      <label>
        <p>Password</p>
        <input type="password" name="password">
      </label>
      <button>Connect</button>
    </form>
  </main>
</body>
</html>